/*Shared css */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-text-color{
  color:#4E47FF;
}

.primary-bg-color{
  background-color:#4E47FF;;
}


/* CSS styles of nav tag */
nav h1{
  font-weight:bold;
  font-size:31px;
}

.shared-button-features{
  color:white;
  font-size:16px;
  font-weight:bold;
  border-radius:10px;
  border-style: none;
}

nav button{
  width:132px;
  height:42px;
  
}

nav{
  display:flex;
  justify-content:space-between;
  margin:0px 150px 158px;
  align-items:center;
  
}

/*CSS styles applied to banner-container div */

.banner-info{
 max-width:1440px;
 margin:0 auto;
 }

.banner-info h1{
  font-size:65px;
  font-weight:bold;
}

.banner-info button{
  width:174px;
  height:48px;
  margin-top:37px;
  margin-left:365.5px;
  margin-right:365.5px;
}

.banner-container{
  margin:158px 267.5px 152px 267.5px;
}

/*CSS styles applied to header */
header{
  background-image:url(../Assets/Hero-bg.png);
}

/*CSS styles of main section starts */

main{
max-width:1440px;
 margin:auto;
}
.action-title{
    font-size:42px;
    font-weight:bold;
}
.action-subtitle{
  font-size:24px;
  font-weight:400px;
  color:#252432;
}

.left-side button{
  margin-top:23px;
  width:229px;
  height: 48px;
}

.action-section{
  display:flex;
  gap:220px;
  align-items: center;
  margin-top:116px;
}
.right-side img{
  width:403px;
  border-radius:48px;
}

/*CSS styles applied to productive user section */

.productive-users{
  background-color: #cbd9ea;
  margin-top:116px;
  border-radius: 24px;
}

.user-heading{
  font-weight:bold;
  font-size:38px;
  text-align: center;
} 

.prod-num{
  font-weight: bold;
  font-size: 80px;
  margin-right:158px;
}

.prod-description{
  font-weight: 400px;
  font-size: 20px;
  color:#000000;

}
.productivity-info{
  display:flex;
  justify-content: center;
}

